body {
  background: #0088ff;
  text-align: center;
}
.board {
  margin: 0 auto;
  display: inline-block;
}
.game-section {
  border: 1px solid black;
  float: left;
}
.info {
  border: 1px solid black;
  height: 368px;
  width: 200px;
  float: left;
  position: relative;
}
.mistake {
  margin-top: 5px;
  font-size: 24px;
}
#reset {
  position: absolute;
  bottom: 5px;
  left: 5px;
}
.card {
  background: white;
  height: 70px;
  width: 70px;
  margin: 10px;
  float: left;
  border: 1px solid black;
  transition: all 1.0s ease;
  font-size: 60px;
}
.hidden {
  background: black;
  color: transparent;
}
.matched {
  background: green;
}
.winner {
  margin-top: 98px;
  font-size: 37px;
}
@media screen and (max-width:480px) {
  .info {
    height: auto;
    width: 100%;
    border: none;
  }
  .winner {
    margin-top: 8px;
    font-size: 24px;
  }
  #reset {
    position: static;
    vertical-align: bottom;
    margin: 5px;
  }
  .card {
    width: 50px;
    height: 50px;
    font-size: 42px;
  }
}
